.header {
  // .header__title

  &__title {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 30px;
    font-weight: 900;
    &::after {
      content: "";
      background: url(/assets/img/television-svgrepo-com.svg) center / cover
        no-repeat;
      height: 25px;
      width: 25px;
    }
  }

  // .header__activities

  &__activities {
  }

  &__menu {
    display: flex;
    gap: 50px;
  }

  // .header__activity

  &__activity {
    & > * {
      font-size: 25px;
      font-weight: 700;
    }
  }
}
