.movie-card {
  background-color: rgb(31, 26, 26);
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding-bottom: 10px;
}

.movie-image img {
  aspect-ratio: 3/2;
  width: 100%;
}

.movie-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  &__activities {
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  p {
    font-size: 16px;
  }

  h2 {
    font-size: 25px;
    min-height: 60px;
  }

  button {
    background-color: antiquewhite;
    border-radius: 30px;
    color: rgb(31, 26, 26);
    font-weight: 700;
    padding: 5px 5px;
    align-self: center;
    transition: box-shadow 0.3s;
    @media (any-hover: hover) {
      &:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
          rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      }
    }
  }
}

.favorite {
  display: flex;
  align-items: center;

  &::after {
    content: "";
    background: url(../../../assets/img/heart.svg) center / cover no-repeat;
    height: 20px;
    width: 20px;
  }
}
.watch-list {
  display: flex;
  align-items: center;

  &::after {
    content: "";
    background: url(../../../assets/img/play.svg) center / cover no-repeat;
    height: 20px;
    width: 20px;
  }
}

.favorite--chosen {
  display: flex;
  align-items: center;

  &::after {
    content: "";
    background: url(../../../assets/img/heart-remove.svg) center / cover
      no-repeat;
    height: 20px;
    width: 20px;
  }
}

.watch-list--chosen {
  display: flex;
  align-items: center;

  &::after {
    content: "";
    background: url(../../../assets/img/play-remove.svg) center / cover
      no-repeat;
    height: 20px;
    width: 20px;
  }
}
