.header {
  padding: 30px 20px;
  display: grid;
  grid-template-columns: 25% 1fr;
  align-items: center;
  border-bottom: 1px solid rgb(53, 19, 4);
  // .header__title
  background-color: antiquewhite;
  color: rgb(53, 19, 4);
  position: fixed;
  min-width: 100%;
}
.main {
  padding-top: 96.8px;
  flex: 1 0 auto;
  background-color: rgb(53, 19, 4);
  color: antiquewhite;
}
.side-bar {
  background-color: antiquewhite;
  color: rgb(53, 19, 4);
  font-weight: 700;
  position: fixed;
  min-height: 100%;
  width: 20%;

  // .side-bar__menu

  &__menu {
  }

  // .side-bar__item

  &__item {
    padding: 15px 0 15px 20px;
    border: 1px solid rgb(53, 19, 4);
    & > * {
      font-size: 25px;
    }
  }
}
.display {
  display: grid;
  grid-template-columns: 20% 80%;
}
.footer {
  background-color: antiquewhite;
  color: rgb(53, 19, 4);
}

a:hover {
  text-decoration: underline;
}
