<div class="background">
  <div class="container">
    <div class="movie-list">
      <app-movie-card
        [movie]="movies[0]"
        (addToFavorite)="showFavorite($event)"
        (addToWatchLists)="showWatchList()"
      >
      </app-movie-card>
      <app-movie-card
        [movie]="movies[1]"
        (addToFavorite)="showFavorite($event)"
        (addToWatchLists)="showWatchList()"
      >
      </app-movie-card>
      <app-movie-card
        [movie]="movies[2]"
        (addToFavorite)="showFavorite($event)"
        (addToWatchLists)="showWatchList()"
      >
      </app-movie-card>
      <app-movie-card
        [movie]="movies[3]"
        (addToFavorite)="showFavorite($event)"
        (addToWatchLists)="showWatchList()"
      >
      </app-movie-card>
    </div>
    <div class="favorite-block">
      <h2 class="favorite-block__title">Улюблені</h2>
    </div>
  </div>
</div>
