<div class="background">
  <div class="container">
    <!-- <div class="movie-list">
      <app-movie-card
        *ngFor="let movie of movies"
        [movie]="movie"
        (addToFavorite)="showFavorite($event)"
        (addToWatchLists)="showWatchList($event)"
      >
      </app-movie-card>
    </div> -->

    <div class="movie-list">
      <app-test-card
        *ngFor="let movie of movies"
        [movie]="movie"
        (addToFavorite)="showFavorite($event)"
        (addToWatchLists)="showWatchList($event)"
      >
      </app-test-card>
    </div>

    <div class="user-preferences">
      <div class="favorite-block">
        <h2 class="favorite-block__title">Улюблені</h2>
        <div class="favorite-block__body">
          <div
            class="favorite-block__item-wrapper"
            *ngFor="let movie of movies"
          >
            <div
              *ngIf="movie.isFavorite"
              class="favorite-block__item item-favorite"
            >
              <div class="item-favorite__image">
                <img src="{{ movie.img }}" alt="" />
              </div>
              <h3 class="item-favorite__title">{{ movie.original_title }}</h3>
              <div class="item-favorite__rating">
                Рейтинг: {{ movie.vote_average }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="favorite-block">
        <h2 class="favorite-block__title">До перегляду</h2>
        <div class="favorite-block__body">
          <div
            class="favorite-block__item-wrapper"
            *ngFor="let movie of movies"
          >
            <div
              *ngIf="movie.isInWatchList"
              class="favorite-block__item item-favorite"
            >
              <div class="item-favorite__image">
                <img src="{{ movie.img }}" alt="" />
              </div>
              <h3 class="item-favorite__title">{{ movie.original_title }}</h3>
              <div class="item-favorite__rating">
                Рейтинг: {{ movie.vote_average }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
